.apiInfoWrapper {
    width: 1000px;
    padding-bottom: 10px;
    max-width: 90vw;
}

.apiInfo {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.apiInfo:last-child {
    border-bottom: 1px solid black;
}

.apiLabel {
    font-weight: bold;
}

.apiDesc {
}
